# Caso alteres a porta, não te esqueças de alterar também no arquivo frontend/src/services/api.js
PORT=3001

# get your API key from https://next-gen.materialsproject.org/api
MATERIALS_PROJECT_API_KEY="Your_API_Key_Here"